body {
    margin: 0;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Header
===================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.search__inner{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #8C8C8C
}

.search__form{
	display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #000
    width:210px;
    height: 30px;
}

.search__button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-left: 20px;
	background-color: #000;
	width: 90px;
	height: 40px;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.16px;
}